--extra-index-url https://download.pytorch.org/whl/cpu
annotated-types
anyio
bert
bert-score
certifi
charset-normalizer
click
contourpy
cycler
erlastic
exceptiongroup
fastapi
filelock
fonttools
fsspec
greenlet
h11
hf-xet
huggingface-hub
idna
jinja2
kiwisolver
markupsafe
matplotlib
mpmath
networkx
numpy
packaging
pandas
pillow
pip
pydantic
pydantic-core
pyparsing
python-dateutil
python-multipart
pytz
pyyaml
regex
requests
safetensors
scipy
setuptools
six
sniffio
snownlp
sqlalchemy
starlette
sympy
tokenizers
torch
tqdm
transformers
typing-extensions
typing-inspection
tzdata
urllib3
uvicorn
